<div class="panel-default items">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Number of Products</th>
        <th>Number of Categories</th>
      </tr>
    </thead>

      <tr>
        <th><%= @productsCount %></th>
        <th><%= @categoryCount %></th>
      </tr>
  </table>
  </div>